body {
	font-family: Microsoft Yahei, WenQuanYi Micro Hei, Hiragino Sans GB, sans-serif;
}
p{
	text-indent: 2em;
}
.logo {
	background-image: url(../img/bg_nav.png);
	background-repeat: repeat-x;
	border-bottom: 2px solid #FFFFCC;
	text-align: center;
}
.logo img{
	margin: auto;
	padding: 5px;
}

.bar{
	background-image: url(../img/bg_subnav.png);
	background-repeat: repeat-x;
}
.bar-active{
	background-image: url(../img/bg_suvnav_active.png);
	background-repeat: repeat-x;
}
.bar img{
	margin: auto;
	padding: 5px;
}

.bar-active img{
	margin: auto;
	padding: 5px;
}